<h2>Users</h2>
<table class="table">
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
			<th colspan="3"></th>
		</tr>
	</thead>
<tbody>

	<% @users.each do |user| %>
	<tr>
		<td><%= user.img %></td>
		<td><%= user.name %></td>
		<td><%= link_to 'show',user %></td>_
	  <% end %>
	</tr>_
</tbody>
</table>